@import url(https://fonts.googleapis.com/css?family=Fira+Code:300,regular,500,600,700);

body {
  font-family: Inter, sans-serif;
  margin: 0;

  /* background-color: rgb(21, 22, 29); */
}

.navbar {
  font-family: "Fira Code", monospace;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 5px 1px #d4d4d4;
  padding: 0px 20px;
  height: 90px;
  transition: ease 0.7s;
}

.dark {
  background-color: #2a2e35;
  box-shadow: 4px 0 10px -3px #010101;
}
.nav_logo_text {
  color: #61dafb;
  margin-right: auto;
  font-size: 3rem;
}

.nav-logo {
  width: 3rem;
  animation: spin 35s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

main {
  padding: 57px 27px;
  /* height: 29.7rem; */
  height: 31rem;
  background-image: url(images/logohalflight.png);
  background-repeat: no-repeat;
  background-position: right 50%;
  transition: ease 0.3s;
}

.maindark {
  color: white;
  background-image: url(images/logohalf.png);
  background-color: #12181b;
}

.main_title {
  margin: 0;
  font-size: 39px;
  letter-spacing: 0.01em;
}

.list {
  margin-top: 46px;
}

.list > li {
  font-size: 20px;
  padding: 2px;
}

.list > li::marker {
  color: #61dafb;
  font-size: 1.4rem;
}
.nav-toggle {
  display: flex;
  align-items: center;
}

.nav-icon {
  margin: 0px 4px;
  padding: 1px;
  width: 45px;
  height: 40px;
}

.light-icon {
  color: lightgoldenrodyellow;
}

@media only screen and (max-width: 768px) {
  .nav_logo_text {
    color: #61dafb;
    margin-right: auto;
    font-size: 2rem;
  }

  .nav-logo {
    width: 3rem;
    animation: spin 35s linear infinite;
  }
  .main_title {
    font-size: 30px;
  }
  .main {
    height: 31rem;
  }
}
